div.noty_message
    span.noty_text
    div.widget.register(style='margin-top: 5px;')
        div.report_line
            label.name Display Name
            input.modal-input(type='text', data-name='display-name', placeholder='Display Name', autofocus)
        div(style='clear: both;')
div.noty_close
