doctype html
html
    head
        title Smitty's Tracker
        meta(name='description', content="Tracker for Smitty's information")
        meta(name='keywords', content='')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(http-equiv='X-UA-Compatible', content='IE=9')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(src='/js/ui/jquery/jquery.js')
        script(src='/js/ui/jquery-ui.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/bootstrap/js/bootbox.min.js')
        script(src='/js/jquery.nicescroll.js')
        script(src='/js/noty/packaged/jquery.noty.packaged.min.js')
        script(src='/js/noty/themes/cryogen.js?rand=5999', type='text/javascript')
        script(src='/js/smittys.js')

        link(rel='icon', href='/images/favicon.ico?v=2')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css', media='screen')
        link(rel='stylesheet', href='/js/ui/jquery-ui.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/fonts.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans', type='text/css')
        block head
        script.
            var open = false;
            $(document).ready(function() {

                $(document).click(function(e) {
                    var target = e.target;
                    if(n == null)
                        return;
                    var id = n.options.id;
                    if($(e.target).closest('#'+id).length) {

                    } else {
                        if(n.options.dismissOnOutsideClick) {
                            n.close();
                            n = null;
                        }
                    }
                });

                $('#clear-cache').click(() => {
                    $.post('/utilities/clear-cache', {}, ret => {
                        var data = getJSON(ret);
                        if(data == null) return false;
                        sendAlert('Cache has been successfully cleared. Please allow a minute or two to see a difference.');
                    });
                    return false;
                });

                $('#check-emails').click(() => {
                    $.post('/utilities/check-emails', {}, ret => {
                        var data = getJSON(ret);
                        if(data == null) return false;
                        sendAlert('Emails are being rechecked. Please allow a few minutes to finish.');
                    });
                    return false;
                });
                
                $('#create-user').click(() => {
                    $.get('/utilities/create-user', {}, ret => {
                        let data = getJSON(ret);
                        if(data == null) return false;
                        n = noty({
                            text: 'Create User',
                            type: 'confirm',
                            layout: 'center',
                            template: data.html,
                            dismissQueue: false,
                            theme: 'cryogen',
                            buttons: [{
                                addClass: 'btn btn-primary submit-btn', text: 'Create', onClick: ($noty) => {
                                    let username = $('input[data-name="username"]').val();
                                    let firstName = $('input[data-name="first-name"]').val();
                                    let lastName = $('input[data-name="last-name"]').val();
                                    let newPass = $('input[data-name="new-pass"]').val();
                                    let newPassConfirm = $('input[data-name="new-pass-confirm"]').val();
                                    if(newPass !== newPassConfirm) {
                                        sendAlert('New passwords do not match.');
                                        return false;
                                    }
                                    if(newPass.length < 6) {
                                        sendAlert('New password must be at least 6 characters.');
                                        return false;
                                    }
                                    $.post('/utilities/create-user', { username, password: newPass, firstName, lastName }, ret => {
                                        let data = getJSON(ret);
                                        if(data == null) return false;
                                        sendAlert('New user has been created.');
                                        closeNoty($noty);
                                    });
                                }
                            },
                            {
                                addClass: 'btn btn-danger', text: 'Cancel', onClick: closeNoty
                            }]
                        });
                    });
                });

                $('#change-pass').click(() => {
                    $.get('/utilities/change-pass', {}, ret => {
                        let data = getJSON(ret);
                        if(data == null) return false;
                        n = noty({
                            text: 'Change Password',
                            type: 'confirm',
                            layout: 'center',
                            template: data.html,
                            dismissQueue: false,
                            theme: 'cryogen',
                            buttons: [{
                                addClass: 'btn btn-primary submit-btn', text: 'Change', onClick: ($noty) => {
                                    let oldPass = $('input[data-name="current-pass"]').val();
                                    let newPass = $('input[data-name="new-pass"]').val();
                                    let newPassConfirm = $('input[data-name="new-pass-confirm"]').val();
                                    if(newPass !== newPassConfirm) {
                                        sendAlert('New passwords do not match.');
                                        return false;
                                    }
                                    if(newPass.length < 6) {
                                        sendAlert('New password must be at least 6 characters.');
                                        return false;
                                    }
                                    $.post('/utilities/change-pass', { oldPass, newPass }, ret => {
                                        let data = getJSON(ret);
                                        if(data == null) return false;
                                        sendAlert('Password has been successfully changed. Make sure you write it down. This page will refresh in 10 seconds and you will have to re-login.');
                                        closeNoty($noty);
                                        setTimeout(() => {
                                            location.reload();
                                        }, 10000);
                                    });
                                }
                            },
                            {
                                addClass: 'btn btn-danger', text: 'Cancel', onClick: closeNoty
                            }]
                        });
                        //TODO - run function every second to count down remaining time
                        //TODO - change noty timeout to 10 seconds
                    });
                    return false;
                });
            });

        body
            div#page-container
                if loggedIn
                    div.color-white.header-right= utils.getRandomGreeting(user)
                nav(class='navbar navbar-default cryogen-nav', role='navigation')
                    div(class='navbar-header')
                        button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar-collapse-1')
                            span(class='sr-only') Toggle navigation
                            for i in [1,2,3]
                                span(class='icon-bar')
                    div(class='navbar-brand')
                    div#center-div
                        div(class='collapse navbar-collapse', id='navbar-collapse-1')
                            ul(class='nav navbar-nav nav-items')
                                li
                                    a(href='/') Home
                                li
                                    a(href='/inventory') Inventory
                                li
                                    a(href='/labour') Labour
                                li
                                    a(href='/sysco') Sysco
                                li
                                    if loggedIn
                                        a(href='/logout') Logout
                div#main-content
                    block content
                div(class='footer')
                    div(class='container')
                        div(class='row')
                            div.col-md-3
                                h3 Inventory
                                ul
                                    li
                                        a(href='/inventory/invoices/add') Input Invoice
                                    li
                                        a(href='/inventory/invoices') View Invoices
                                    li
                                        a(href='/inventory/counts/add') Add Count
                                    li
                                        a(href='/inventory/counts') View Counts
                            div.col-md-3
                                h3 Items
                                ul
                                    li
                                        a(href='/items/add') Add Item
                                    li
                                        a(href='/items') View Items
                                    li
                                        a(href='/items/menu/add') Add Menu Item
                                    li
                                        a(href='/items/menu') View Menu Items
                            div.col-md-3
                                h3 Labour
                                ul
                                    li
                                        a(href='/labour/hours/add') Add Hours
                                    li
                                        a(href='/labour/hours') View Hours
                                    li
                                        a(href='/labour/tips/add') Add Tips
                                    li
                                        a(href='/labour/tips') View Tips
                            if loggedIn
                                div.col-md-3
                                    h3 Admin
                                    ul
                                        li
                                            a#clear-cache(href='#') Reset Cache
                                        li
                                            a#check-emails(href='#') Check Emails
                                        li
                                            a(href='/') Default
                                        if index == true
                                            li
                                                a.rebuild-errors(href='/', data-type=0) Rebuild Labour Errors
                                            li
                                                a.rebuild-errors(href='/', data-type=1) Rebuild Inventory Errors
                                        li
                                            a#change-pass(href='#') Change Password
                                        li
                                            a#create-user(href='#') Create User
                                        
