script.
    let c;
    import('/js/module-helper.js').then(mod => {
        c = new mod.ModuleHelper('invoice-items', '/inventory/invoice-items');
        c.setup();
    });

    $(document).ready(() => {

        $(document).on('click', '.edit-invoice-item', function() {
            let id = $(this).closest('tr').data('id');
            $.get('/inventory/invoice-items/edit-invoice-item', { id }, ret => {
                let data = getJSON(ret);
                if(data == null) return false;
                n = noty({
                    text: 'Edit Invoice Item',
                    type: 'confirm',
                    layout: 'center',
                    template: data.html,
                    dismissQueue: false,
                    theme: 'cryogen',
                    buttons: [{
                        addClass: 'btn btn-primary submit-btn', text: 'Edit', onClick: ($noty) => {
                            
                        }
                    },
                    {
                        addClass: 'btn btn-danger', text: 'Cancel', onClick: closeNoty
                    }]
                });
            });
        });

        $(document).on('click', '.add-unit', function() {
            let id = $(this).closest('tr').data('id');
            $.get('/inventory/invoice-items/add-unit', { id }, ret => {
                let data = getJSON(ret);
                if(data == null) return false;
                n = noty({
                    text: 'Add unit for: '+data.name,
                    type: 'confirm',
                    layout: 'center',
                    template: data.html,
                    dismissQueue: false,
                    theme: 'cryogen',
                    buttons: [{
                        addClass: 'btn btn-primary submit-btn', text: 'Add', onClick: ($noty) => {
                            let unit = $('#unit').val();
                            let quantity = $('#quantity').val();
                            $.post('/inventory/invoice-items/add-unit', { id, unit, quantity }, ret => {
                                let data = getJSON(ret);
                                if(data == null) return false;
                                sendAlert(data.message);
                                closeNoty($noty);
                                c.loadList();
                            });
                        }
                    },
                    {
                        addClass: 'btn btn-danger', text: 'Cancel', onClick: closeNoty
                    }]
                });
            });
        })

    });

div#invoice-items
    h5 Invoice Items
    p.small.info The following is a list of all items obtained from suppliers
    div.row
        div.iactions
            div
                div(style='float: left; margin: 10px 10px')
                    div.col-xs-4
                        p.color-grey.search-info Click the search icon to begin searching through items. Search using filters with filter:value and separate with commas. True/false or yes/no can be used.
                    div.col-xs-4
                        p.color-grey.search-info Filters: display_name: (name), has_units: (true/false), vendor: (vendor name)
                    div.col-xs-4
                        p.color-grey.search-info Example: vendor: sysco, has_units: false
    div.row(style='padding: 15px;')
        div#search(style='clear: both; float: right; margin-bottom: 15px; text-align: left;')
            div
                span.fa.fa-search.link#search-icon(style='display: inline; float: right; padding-left: 5px; margin-top: 7px;')
                div#search-pin(style='float: right; display: none;', display='none')
                    input.form-control(type='text', placeholder='Search', style='max-width: 150px; max-height: 30px; background: #111; border: #000; display: inline!important;')
        div.search-filters(style='clear: both; float: right;')
        div.col-md-12(style='border: 1px solid #000; clear: both; margin-bottom: 10px;')
        div#main
        div.pages
            div#pages