script.
    let c;
    (function() {
        import('/js/module-helper.js').then(mod => {
            c = new mod.ModuleHelper('sales', '/labour/sales');
            c.setup();
        })
    })();
    
    $(document).on('click', '#add-note', addNote);
    $(document).on('click', '#add-sales', addSales);

    function addSales() {
        $.get('/labour/sales/add-sales', {}, ret => {
            let data = getJSON(ret);
            if(data == null) return false;
            n = noty({
                text: 'Add Sales',
                type: 'confirm',
                layout: 'center',
                template: data.html,
                dismissQueue: false,
                theme: 'cryogen',
                buttons: [{
                    addClass: 'btn btn-primary submit-btn', text: 'Add', onClick: ($noty) => {
                        let date = $('input[data-name="date"]').val();
                        let fileEl = $('input[data-name="file"]');
                        let fileName = fileEl.val();
                        if(!date) {
                            sendAlert('No date entered!');
                            return false;
                        }
                        if(!fileEl) {
                            sendAlert('No file specified!');
                            return false;
                        }
                        if(!fileName.endsWith('.html')) {
                            sendAlert('Must specify an HTML file!');
                            return false;
                        }
                        let files = fileEl[0].files;
                        if(!files) {
                            sendAlert('Unable to find valid file.');
                            return false;
                        }
                        let file = files[0];
                        let data = new FormData();
                        data.append("date", date);
                        data.append("file", file);
                        console.log(data);
                        $.ajax({
                            url: '/labour/sales/add-sales', // le nom du fichier indiqué dans le formulaire
                            type: 'POST', // la méthode indiquée dans le formulaire (get ou post)
                            cache: false,
                            data,
                            processData: false,
                            contentType: false,
                            success: function(ret) { // je récupère la réponse du fichier PHP
                                let data = getJSON(ret);
                                if(data == null) return false;
                                sendAlert('test');
                            }        
                        });
                    }
                },
                {
                    addClass: 'btn btn-danger', text: 'Cancel', onClick: closeNoty
                }]
            });
        });
    }
    
    function addNote() {
        let date = $(this).closest('tr').data('id');
        $.get('/labour/sales/add-note', {}, ret => {
            let data = getJSON(ret);
            if(data == null) return false;
            n = noty({
                text: 'Add Note',
                type: 'confirm',
                layout: 'center',
                template: data.html,
                dismissQueue: false,
                theme: 'cryogen',
                buttons: [{
                    addClass: 'btn btn-primary submit-btn', text: 'Add', onClick: ($noty) => {
                        let note = $('input[data-name="note"]').val();
                        if(note.length > 50) {
                            sendAlert('Note cannot exceed 50 characters.');
                            return false;
                        }
                        $.post('/labour/sales/add-note', { date, note }, ret => {
                            let data = getJSON(ret);
                            if(data == null) return false;
                            sendAlert('Note has been successfully added.');
                            closeNoty($noty);
                            c.loadList();
                        });
                    }
                },
                {
                    addClass: 'btn btn-danger', text: 'Cancel', onClick: closeNoty
                }]
            });
        });
    }
    
h5 Sales
p.small.info The following is all the day's sales with information for labour hours
p.small.info Use the buttons on the right to search between days
div.row
    div.iactions
        div
            div(style='float: left; margin: 10px 10px')
                div.col-xs-4
                    p.color-grey.search-info Click the search icon to begin searching through days. Search using filters with filter:value and separate with commas. True/false or yes/no can be used.
                div.col-xs-4
                    p.color-grey.search-info Filters: 
                div.col-xs-4
                    p.color-grey.search-info Example: 
            div(style='float: right; margin: 33.5px 5px;')
                    div.link#add-sales
                        i.fa.fa-plus-square
                        span  Add Sales
div.row(style='padding: 15px;')
    div#search(style='clear: both; float: right; margin-bottom: 15px; text-align: left;')
        div
            span.fa.fa-search.link#search-icon(style='display: inline; float: right; padding-left: 5px; margin-top: 7px;')
            div#search-pin(style='float: right; display: none;', display='none')
                input.form-control(type='text', placeholder='Search', style='max-width: 150px; max-height: 30px; background: #111; border: #000; display: inline!important;')
    div.search-filters(style='clear: both; float: right;')
    div.col-md-12(style='border: 1px solid #000; clear: both; margin-bottom: 10px;')
    div#main
    div.pages
        div#pages
