div.noty_message
    span.noty_text
    div.widget.register(style='margin-top: 5px;')
        div.report_line
            label.name Username
            input.modal-input(type='text', data-name='username', placeholder='Username')
        div(style='clear: both;')
        div.report_line
            label.name First Name
            input.modal-input(type='text', data-name='first-name', placeholder='First Name')
        div(style='clear: both;')
            div.report_line
                label.name Last Name
                input.modal-input(type='text', data-name='last-name', placeholder='Last Name')
            div(style='clear: both;')
        div.report_line
            label.name New Password
            input.modal-input(type='password', data-name='new-pass', placeholder='New Password')
        div(style='clear: both;')
        div.report_line
            label.name Confirm New Password
            input.modal-input(type='password', data-name='new-pass-confirm', placeholder='Confirm New Password')
        div(style='clear: both;')
div.noty_close
